<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785705396836-tvv4i9pq9qsmp0u65je0m9k74hcr91cp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785705396836-tvv4i9pq9qsmp0u65je0m9k74hcr91cp</string>
	<key>API_KEY</key>
	<string>AIzaSyCv-eMA6P04yzc6N4VTkDKKDARZtF6eAs8</string>
	<key>GCM_SENDER_ID</key>
	<string>785705396836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pioupiou.mapix</string>
	<key>PROJECT_ID</key>
	<string>mapix-63ba6</string>
	<key>STORAGE_BUCKET</key>
	<string>mapix-63ba6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785705396836:ios:79fe23a09f9569f4a34d71</string>
</dict>
</plist>